<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>83774720947-ulujtofl8rsh5n49cgrtgn35dsr4m9ge.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.83774720947-ulujtofl8rsh5n49cgrtgn35dsr4m9ge</string>
    <key>API_KEY</key>
    <string>AIzaSyCIxYDPeNGjNfpnWk3_opHKQdxdeFSrFiY</string>
    <key>GCM_SENDER_ID</key>
    <string>83774720947</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.kak-ios-codepath.Everest</string>
    <key>PROJECT_ID</key>
    <string>everest-f98ba</string>
    <key>STORAGE_BUCKET</key>
    <string>everest-f98ba.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true></true>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <false></false>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:83774720947:ios:7d005f5121eb14e3</string>
    <key>DATABASE_URL</key>
    <string>https://everest-f98ba.firebaseio.com</string>
  </dict>
</plist>
